body {	
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;	
	font-size: 1em;
	margin-top: 0.1em;
	margin-right: 0.1em;
	margin-bottom: 0.1em;
	margin-left: 0.1em
	}
form {	
	font-family: Arial, Helvetica, sans-serif;	
	font-size: 1em
	}
h2 {
	color: #CCCCCC
	}
h3 {
	color: #CCCCCC
	}
h4 {
	color: #000000
	}
input {	
	font-family: Arial, Helvetica, sans-serif;	
	font-size: 1em
	}
li {	
	font-family: Arial, Helvetica, sans-serif;	
	font-size: 1em
	}
ol {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	list-style-type: decimal;	
	list-style-position: outside
	}
select {	
	font-family: Arial, Helvetica, sans-serif;	
	font-size: 1em
	}
table {
	color: #FFFFFF
	}
td, th {	
	font-family: Arial, Helvetica, sans-serif;	
	font-size: 1em
	}
textarea {
	font-family: Arial, Helvetica, sans-serif;	
	font-size: 1em
	}
ul {	
	font-family: Arial, Helvetica, sans-serif;	
	font-size: 1em;	
	list-style-type: square;	
	list-style-position: outside
	}
.BulletBackgroundColor {
	color: #FFFFFF
	}
.DataColor {
	color: #DEDECA
	}
.footer {	
	font-family: Verdana, Arial, Helvetica, sans-serif;	
	font-size: .75em;	
	color: #999999
	}
.FormBackgroundColor {
	color: #CCCCCC
	}
.ImageTitleColor {
	color: #CCCCCC
	}
.LabelColor {
	color: #CCCCCC
	}
.ListColorEven {
	color: #CCCCCC
	}
.ListFooterColor {
	color: #333333
	}
.ListHeaderColor {
	color: #333333
	}
.ListColorOdd {
	color: #DEDECA
	}
.ListTitleColor {
	color: #CCCCCC
	}
.NavigationBackgroundColor {
	color: #666666
	}
.NavigationColor {
	color: #CCCCCC
	}
.NewsDataColor {
	color: #DEDECA
	}
.StoryTitle {
	color: #000000;
	font-weight: bold
	}
.StoryContentColor {
	color: #000000
	}
.TitleColor {
	color: #000000
	}body.sub {
	margin: 0.1em;

	}
tr.ListHeaderColor th {
	text-align: left;
	}.small {
	font-size: 85%;
}
